@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Roboto&display=swap');

header {
    margin: 0;
}

.logo {
    background: url(../img/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px; 
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}